
@{
    ViewBag.Title = "home";
}
<div ng-controller="loginCtr">
    <div id="home" style="position:relative;top:3%;height:500px" ng-show="loginDet">

        <h2>home</h2>


    </div>

    <div id="firstItem" style="position:relative;top:3%;height:500px" ng-show="loginDet">

        <p>First item display</p>
    </div>

</div>