body {
}
.loginBorder{
    /*border:solid  1px rgba(176, 176, 176, 0.51);*/
    /*height:50%;*/
    position: relative;
    top: 15%;
    left: 1%;
    width:95%;
    bottom:10%;
     box-shadow: 1px 1px 5px rgba(0,0,0,0.9);
     border-radius:2px;
     opacity:0.6;
}
.hideDiv{
    display:none;
}
.bodyBackground{
    /*opacity:0.6;*/
    background-color:rgba(243, 241, 243, 0.86);
    height:100vh;
    width:100%;
    /*min-height:600px;*/
   
}
.svgArrow-down{
    position:absolute;
    top:80vh;
   
}


.slide-container.ng-hide {
  left: 20%;
  
}
.slide-container.ng-show-add-active {
  /*display: none;*/
  right: 20%;
}
.slide-container.ng-hide-add, .slide-container.ng-hide-remove {
 
  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.slide-container.ng-hide-add-active, .slide-container.ng-hide-remove-active {
-webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}


.slide-container.ng-show-add-active {
  display: block;
}

  .animate-enter,    .animate-leave
    { 
        -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    } 
     
    .animate-enter {
        top: 100%;
    }
    .animate-enter.animate-enter-active {
        top: 0;
    }
     
    .animate-leave {
        top: 0;
    }
    .animate-leave.animate-leave-active{
        top: -100%;
    }


    .bottom {
        transition: visibility 0s 2s, opacity 2s ease-in-out;
    /*-webkit-transition: all 2s ease;
    Safari */
    /* transition: all 2s ease;*/
    
}
.bottom.ng-hide {
    opacity:0;
   
}
.bottom.ng-show{
 transition: visibility 0s 2s, opacity 2s ease-in-out
}
.h3_login{
    text-align:center;
}
#regForm div, #loginDiv div{
    padding-left: 8%;
}


